Repository ecom-co/backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

.lintstagedrc.json:

{
    "src/**/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 0 --no-warn-ignored", "prettier --write"],
    "test/**/*.{js,jsx,ts,tsx}": ["eslint --fix --max-warnings 0 --no-warn-ignored", "prettier --write"],
    "*.{json,yml,yaml}": ["prettier --write"],
    "*.md": ["prettier --write"],
    "package.json": ["prettier --write", "pnpm sort-package-json"]
}

feat: enhance pull request template with related PRs and migration sections for better context
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat(authorization #4): implement access control with decorators and guards
  src/app.module.ts
  src/core/decorators/current-user.decorator.ts
  src/core/decorators/index.ts
  src/core/decorators/permission.decorator.ts
  src/main.ts
  src/modules/auth/auth.client.module.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.grpc.client.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/guards/access.guard.ts
  src/modules/auth/guards/jwt-auth.guard.ts
  src/modules/auth/permission.utils.ts
  src/modules/auth/types/request.types.ts
  src/modules/config/config.service.ts
  src/modules/config/config.validation.ts
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.controller.ts
  src/modules/example/example.service.ts
  src/modules/grpc-test/dto/user-response.dto.ts
  src/proto/services/auth.proto
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

chore: update @ecom-co/grpc to version 1.1.14, replace HttpGrpcExceptionFilter with GrpcClientFilter
  package-lock.json
  package.json
  src/core/filters/grpc-exception.filter.ts
  src/main.ts
  src/modules/auth/auth.grpc.client.ts
  src/modules/example/example.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update @ecom-co/utils to version 1.0.26
  package-lock.json
  package.json
  src/modules/auth/auth.controller.ts
  src/modules/example/example.controller.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update @ecom-co/grpc to version 1.1.15 and enhance security with helmet configuration
  package-lock.json
  package.json
  src/main.ts
  src/modules/auth/auth.client.module.ts
  src/modules/auth/auth.controller.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

fix: update @ecom-co/grpc to version 1.2.2, add opossum for circuit breaker support
  package-lock.json
  package.json
  src/app.module.ts
  src/modules/auth/auth.grpc.client.ts
  src/modules/example-2/dto/create-example-2.dto.ts
  src/modules/example-2/dto/update-example-2.dto.ts
  src/modules/example-2/entities/example-2.entity.ts
  src/modules/example-2/example-2.controller.spec.ts
  src/modules/example-2/example-2.controller.ts
  src/modules/example-2/example-2.module.ts
  src/modules/example-2/example-2.service.spec.ts
  src/modules/example-2/example-2.service.ts
  src/modules/example/dto/create-example.dto.ts
  src/modules/example/dto/response-example.dto.ts
  src/modules/example/dto/update-example.dto.ts
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.controller.ts
  src/modules/example/example.grpc.controller.ts
  src/modules/example/example.module.ts
  src/modules/example/example.service.spec.ts
  src/modules/example/example.service.ts
  src/modules/example/product-search.doc.ts
  src/modules/grpc-test/dto/create-user.dto.ts
  src/modules/grpc-test/dto/update-user.dto.ts
  src/modules/grpc-test/dto/user-response.dto.ts
  src/modules/grpc-test/grpc-test.controller.ts
  src/modules/grpc-test/grpc-test.module.ts
  src/modules/grpc-test/grpc-test.service.ts
  src/modules/rabbitmq/rabbitmq.controller.ts
  src/modules/rabbitmq/rabbitmq.handler.ts
  src/modules/rabbitmq/rabbitmq.module.ts
  src/modules/rabbitmq/rabbitmq.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json
