Repository ecom-co/backend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

fix: update jest configuration with module name mappings
  package.json
Due: prettier --write, pnpm sort-package-json

test: add mock for Example2Service in controller and service tests
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.service.spec.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: update tsconfig to include .commitlintrc.js in the include paths
  .commitlintrc.js
  tsconfig.json
Due: prettier --write

refactor: simplify ESLint configuration and update project structure for better maintainabili
  README.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/core/decorators/api-endpoint.decorator.ts
  src/core/dto/paginated.response.dto.ts
  src/core/dto/pagination.dto.ts
  src/core/dto/query.dto.ts
  src/core/filters/http-exception.filter.ts
  src/main.ts
  src/modules/example-2/example-2.controller.spec.ts
  src/modules/example-2/example-2.service.spec.ts
  src/modules/example/dto/create-example.dto.ts
  src/modules/example/dto/response-example.dto.ts
  test/app.e2e-spec.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

feat: integrate TypeORM with new ORM package and update database configuration
  package-lock.json
  package.json
  src/app.module.ts
  src/modules/example/example.module.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update package dependencies and remove unused packages
  package-lock.json
  package.json
Due: prettier --write, pnpm sort-package-json

refactor: remove deprecated database configuration and update validation schema
  src/modules/config/config.service.ts
  src/modules/config/config.validation.ts
  src/modules/example-2/example-2.service.ts
  src/modules/example/entities/example.entity.ts
  src/modules/example/example.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

chore: update package dependencies and improve example module tests
  package-lock.json
  package.json
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.service.spec.ts
  src/modules/example/example.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

docs: update README
  README.md
Due: prettier --write

chore: add Docker setup and configuration files for ecom-backend
  .env.docker
  .env.example
  .github/ISSUE_TEMPLATE/docker-setup.md
  Dockerfile
  docker-compose.yml
  docker/docker-scripts.md
  docker/postgres/.gitkeep
  docker/postgres/init.sql
  docs/docker.md
  package-lock.json
Due: prettier --write

chore: add contributing guide and issue templates for better collaboration
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docker-setup.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Due: prettier --write

chore: add related issues section to pull request template for better issue tracking
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: update TypeScript configuration to include .commitlintrc.ts and exclude it from build
  tsconfig.build.json
  tsconfig.json
Due: prettier --write

fix: update swagger ui
  src/core/configs/swagger.config.ts
  src/main.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

feat(redis #3): add Redis integration with configuration examples
  .vscode/settings.json
  README.md
  package-lock.json
  package.json
  src/app.module.ts
  src/modules/config/config.service.ts
  src/modules/config/config.validation.ts
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.module.ts
  src/modules/example/example.service.spec.ts
  src/modules/example/example.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update @ecom-co/redis to version 0.1.3 and refactor Redis integration in example module
  package-lock.json
  package.json
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.controller.ts
  src/modules/example/example.service.spec.ts
  src/modules/example/example.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

feat(elasticsearch): integrate Elasticsearch for product search functionality
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.controller.ts
  src/modules/example/example.module.ts
  src/modules/example/example.service.spec.ts
  src/modules/example/example.service.ts
  src/modules/example/product-search.doc.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

feat(elasticsearch): add analytics support to Elasticsearch integration in example module
  src/app.module.ts
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.module.ts
  src/modules/example/example.service.spec.ts
  src/modules/example/example.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

chore: update package dependencies and configuration for improved performance and stability
  .lintstagedrc.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/modules/example/example.module.ts
  src/modules/example/example.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: add .npmrc file and update package dependencies to latest versions
  .npmrc
  package-lock.json
  package.json
Due: prettier --write, pnpm sort-package-json

feat(rabbitmq): implement RabbitMQ integration with publish and RPC functionality
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/modules/rabbitmq/rabbitmq.controller.ts
  src/modules/rabbitmq/rabbitmq.handler.ts
  src/modules/rabbitmq/rabbitmq.module.ts
  src/modules/rabbitmq/rabbitmq.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: add package-lock.json and update package dependencies for consistency
  package-lock.json
  package.json
Due: prettier --write, pnpm sort-package-json

chore: update package dependencies and remove unused constants and decorators for cleaner code
  .vscode/settings.json
  package-lock.json
  package.json
  src/core/configs/index.ts
  src/core/configs/swagger.config.ts
  src/core/constants/auth.constants.ts
  src/core/constants/index.ts
  src/core/constants/operator.constants.ts
  src/core/constants/pagination.constants.ts
  src/core/decorators/api-endpoint.decorator.md
  src/core/decorators/api-endpoint.decorator.ts
  src/core/decorators/clamp-number.decorator.ts
  src/core/dto/api.response.dto.ts
  src/core/dto/error.response.dto.ts
  src/core/dto/paginated.response.dto.ts
  src/core/dto/pagination.dto.ts
  src/core/dto/query.dto.ts
  src/core/filters/http-exception.filter.ts
  src/core/filters/index.ts
  src/main.ts
  src/modules/example-2/dto/update-example-2.dto.ts
  src/modules/example/dto/create-example.dto.ts
  src/modules/example/dto/response-example.dto.ts
  src/modules/example/dto/update-example.dto.ts
  src/modules/example/example.controller.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update @ecom-co/utils to version 1.0.9
  package-lock.json
  package.json
  src/main.ts
  src/modules/example-2/dto/create-example-2.dto.ts
  src/modules/example/dto/create-example.dto.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update @ecom-co/utils to version 1.0.11
  package-lock.json
  package.json
  src/modules/example/dto/response-example.dto.ts
  src/modules/example/example.controller.ts
  src/modules/example/example.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

feat: add gRPC support and configuration
  package-lock.json
  package.json
  pnpm-lock.yaml
  src/main.ts
  src/modules/config/config.service.ts
  src/modules/config/config.validation.ts
  src/modules/example/example.controller.ts
  src/modules/example/example.grpc.controller.ts
  src/modules/example/example.service.ts
  src/modules/rabbitmq/rabbitmq.service.ts
  src/proto/example.proto
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

feat: enhance backend configuration with environment variables and gRPC support
  .env.docker
  .env.docker.example
  .gitignore
  Dockerfile
  README-INTEGRATION.md
  docker-compose.yml
  docker/docker-scripts.md
  docker/postgres/.gitkeep
  docker/postgres/init.sql
  src/app.module.ts
  src/modules/config/config.service.ts
  src/modules/config/config.validation.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

fix: correct project name indentation in docker-compose.yml
  docker-compose.yml
Due: prettier --write

feat: enhance ESLint configuration with custom rules and perfectionist plugin
  eslint.config.mjs
  package-lock.json
  package.json
  src/app.controller.spec.ts
  src/app.module.ts
  src/main.ts
  src/modules/config/config.module.ts
  src/modules/config/config.service.ts
  src/modules/config/config.validation.ts
  src/modules/example-2/dto/create-example-2.dto.ts
  src/modules/example-2/example-2.controller.spec.ts
  src/modules/example-2/example-2.controller.ts
  src/modules/example-2/example-2.service.spec.ts
  src/modules/example-2/example-2.service.ts
  src/modules/example/dto/create-example.dto.ts
  src/modules/example/dto/response-example.dto.ts
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.controller.ts
  src/modules/example/example.grpc.controller.ts
  src/modules/example/example.module.ts
  src/modules/example/example.service.spec.ts
  src/modules/example/example.service.ts
  src/modules/example/product-search.doc.ts
  src/modules/rabbitmq/rabbitmq.controller.ts
  src/modules/rabbitmq/rabbitmq.handler.ts
  src/modules/rabbitmq/rabbitmq.module.ts
  src/modules/rabbitmq/rabbitmq.service.ts
  test/app.e2e-spec.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

feat: implement CRUD operations in ExampleController and ExampleService, update ESLint version
  package-lock.json
  package.json
  src/modules/example-2/example-2.controller.ts
  src/modules/example-2/example-2.service.ts
  src/modules/example/example.controller.ts
  src/modules/example/example.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update @ecom-co/eslint to version 2.1.12
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
  src/modules/example-2/dto/create-example-2.dto.ts
  src/modules/example/dto/create-example.dto.ts
  src/modules/example/dto/response-example.dto.ts
  src/modules/example/example.controller.spec.ts
  src/modules/example/example.controller.ts
  src/modules/example/example.service.spec.ts
  src/modules/example/example.service.ts
  src/modules/example/product-search.doc.ts
  src/modules/rabbitmq/rabbitmq.controller.ts
  src/modules/rabbitmq/rabbitmq.module.ts
  src/modules/rabbitmq/rabbitmq.service.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update @ecom-co/eslint to version 2.1.13 and refactor module imports to include ConfigModule
  package-lock.json
  package.json
  src/app.module.ts
  src/modules/rabbitmq/rabbitmq.module.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update @ecom-co/orm to version 0.1.21 and @ecom-co/eslint to version 2.1.15
  package-lock.json
  package.json
Due: prettier --write, pnpm sort-package-json

refactor: update Redis connection configuration to use dynamic URL from ConfigServiceApp
  src/app.module.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write

chore: update @ecom-co/orm to version 0.1.22
  package-lock.json
  package.json
Due: prettier --write, pnpm sort-package-json

chore: update dependencies and ESLint configuration to use arrow function style
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write, pnpm sort-package-json

feat: implement gRPC user service with CRUD operations and update ESLint configuration
  eslint.config.mjs
  package-lock.json
  package.json
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
  src/modules/example/example.service.ts
  src/modules/grpc-test/dto/create-user.dto.ts
  src/modules/grpc-test/dto/update-user.dto.ts
  src/modules/grpc-test/dto/user-response.dto.ts
  src/modules/grpc-test/grpc-test.controller.ts
  src/modules/grpc-test/grpc-test.module.ts
  src/modules/grpc-test/grpc-test.service.ts
  src/proto/services/user.proto
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

feat: add gRPC dependency and implement HttpGrpcExceptionFilter in main application
  package-lock.json
  package.json
  src/main.ts
  src/modules/config/config.service.ts
  src/modules/example/example.controller.ts
  src/modules/grpc-test/dto/create-user.dto.ts
  src/modules/grpc-test/grpc-test.controller.ts
  src/modules/grpc-test/grpc-test.service.ts
  src/modules/rabbitmq/rabbitmq.handler.ts
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

chore: update dependencies, add gRPC exception filter, and refactor user DTOs for improved structure
  package-lock.json
  package.json
  src/core/filters/grpc-exception.filter.ts
  src/modules/example/example.service.ts
  src/modules/grpc-test/dto/create-user.dto.ts
  src/modules/grpc-test/dto/update-user.dto.ts
  src/modules/grpc-test/dto/user-response.dto.ts
  src/proto/services/user.proto
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

feat(authentication #2): implement authentication module with gRPC integration
  package-lock.json
  package.json
  src/app.module.ts
  src/main.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.grpc.client.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/auth.service.ts
  src/modules/auth/dto/index.ts
  src/modules/auth/dto/login-response.dto.ts
  src/modules/auth/dto/login.dto.ts
  src/modules/auth/dto/register.dto.ts
  src/modules/auth/dto/user-auth.dto.ts
  src/modules/auth/guards/jwt-auth.guard.ts
  src/proto/services/auth.proto
Due: eslint --fix --max-warnings 0 --no-warn-ignored, prettier --write, pnpm sort-package-json

Path conditions:
  eslint --fix --max-warnings 0 --no-warn-ignored: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: test/**/*.{js,jsx,ts,tsx})
  prettier --write: ((((any of: src/**/*.{js,jsx,ts,tsx}) or (any of: test/**/*.{js,jsx,ts,tsx})) or (any of: *.{json,yml,yaml})) or (any of: *.md)) or (any of: package.json)
  pnpm sort-package-json: any of: package.json
